body {
    background: rgb(162, 206, 214);
}

header {
    font-size: 30px;
    text-align: center;
    background-color: rgb(75, 99, 187);
    padding: 20px;
}

.currentWeather {
    background-color: antiquewhite;
}

.searchBar {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}

.currentWeather{
    border: solid;
}

.fiveDay {
    background-color: antiquewhite;
    margin-top: 20px;
    border: solid;
}